/* You can add global styles to this file, and also import other style files */

@import '~primeng/resources/primeng.min.css';
@import '~primeng/resources/themes/lara-light-blue/theme.css';

.display-flex {
    display: flex;
    padding-bottom: 20px;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

[class*='flex-'] {
    padding-left: 20px;
    padding-right: 20px;
}

[class*='flex-']:first-child {
    padding-left: 0;
}

[class*='flex-']:nth-last-child(2) {
    padding-right: 0;
}

.p-field > * {
    display: block;
    margin-bottom: 5px;
}

.w-full {
    width: 100%;
}

